/* 方法一 */
.container{
        overflow: hidden;
        margin-bottom: 10px;
}
.container div{
        background-color:red;
        width: 200px;
        height: 50px; 
        float: left;
        
}
.container .main{
        width: 100%;
        background: teal;
        padding: 0 200px;
        box-sizing: border-box
 }
.container .left{
        background: green;
        margin-left: -100%;
 }
 .container .right{
        background: green;
        margin-left: -200px;
 }
/* 方法二 */
 .container1{
         display: flex;   
         margin-bottom: 10px;
 }
 .container1 div{
         width: 200px;
        height: 50px;
 }
 .container1 .left{
         background-color: green;
 }
 .container1 .main{
        background-color: teal;
        flex: 1;
}
.container1 .right{
        background-color: green;
}
/* 方法三 */
.container2{
        position: relative;  
}
.container2 div{
        width: 200px;
       height: 50px;
       background-color: green;
}
.container2 .left{
        position: absolute;
        top: 0;
        left: 0;
}
.container2 .main{
       background-color: teal;
       width: 100%;
       padding: 0 200px;
       box-sizing: border-box;
}
.container2  .right{
       position: absolute;
       top: 0;
       right: 0;
}



 
